.table-page{

display:flex;
justify-content:center;
align-items:center;

padding:50px;

}

table{

width:95%;

border-collapse:collapse;

background:var(--card);

box-shadow:8px 8px rgba(0,0,0,.08);

}

th,td{

border:3px solid var(--border);

text-align:center;

padding:18px;

min-width:120px;

font-size:1.05rem;

}

th{

font-family:var(--heading-font);

background:#e59aac;

}

td{

background:var(--card);

}

td.editable{

cursor:text;

}

td:focus{

outline:3px solid white;

}

@media(max-width:1100px){

.table-page{

overflow-x:auto;

}

table{

min-width:900px;

}

}