.todo-container{

display:flex;
justify-content:space-between;
align-items:flex-start;

padding:50px 70px;

gap:40px;

}

.left-panel{

width:28%;

display:flex;
flex-direction:column;
align-items:center;

gap:35px;

}

.right-panel{

flex:1;

display:flex;
align-items:center;

gap:25px;

}

.month-banner{

width:70px;
height:260px;

background:var(--card);

display:flex;
justify-content:center;
align-items:center;

clip-path:polygon(0 0,100% 0,100% 85%,50% 100%,0 85%);

}

.month-banner h2{

writing-mode:vertical-rl;

transform:rotate(180deg);

font-family:var(--heading-font);

font-size:3rem;

}

.weeks{

display:flex;

gap:22px;

}

.week{

display:flex;
flex-direction:column;
align-items:center;

gap:15px;

}

.week-title{

width:190px;
height:65px;

border-radius:40px;

background:#d8899e;

display:flex;
justify-content:center;
align-items:center;

font-family:var(--logo-font);

font-size:2.5rem;

}

.week ul{

width:190px;

min-height:600px;

background:var(--card);

padding:25px;

box-shadow:8px 8px rgba(0,0,0,.08);

display:flex;

flex-direction:column;

gap:12px;

}

.week li{

display:flex;

gap:8px;

align-items:flex-start;

font-size:1rem;

}

#editBtn{

position:fixed;

bottom:30px;

right:35px;

background:var(--navbar);

padding:12px 24px;

border-radius:10px;

font-size:1.2rem;

}